<?xml version="1.0" encoding="utf-8"?>
<config>
  <double name="refresh">0.2</double>
  <string name="DefaultPort">COM1</string>
  <int name="BaudRate">38400</int>
  <int name="HandshakeDelay">2500</int>
  <int name="HandshakeDisable">1</int>
  <int name="ThrottleEnable">2</int>
  <int name="PitchEnable">2</int>
  <int name="RollEnable">2</int>
  <int name="YawEnable">2</int>
  <int name="TXEnable">2</int>
  <int name="TYEnable">2</int>
  <int name="TZEnable">2</int>
  <int name="WheelSteerEnable">2</int>
  <int name="WheelThrottleEnable">2</int>
  <double name="SASTol">0.1</double>
</config>
